/* src/styles/common.css */
.main-container {
    align-items: center;
    min-width: 1200px;
    max-width: 1400px;
    min-height: 700px;
    padding-right: 30px;
    padding-left: 30px;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    display: flex;           /* flexbox 사용 */
    align-items: center;     /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    padding: 10px;
    height: 70px;           /* 필요 시 높이를 설정 */
  }
  
  footer {
    display: flex;           /* flexbox 사용 */
    align-items: center;     /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    padding: 10px;
    height: 100px;           /* 필요 시 높이를 설정 */
  }