.searchBarForm {
  display: flex;
  align-items: center;
  background-color: #BAC095;
  padding: 10px;
  border-radius: 50px;
  margin: 20px;
  box-sizing: border-box;
  width: 900px;
}


.searchInput {
  flex-grow: 1;
  padding: 12px 16px;
  background-color: transparent;
  border: none !important;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  color: #5C5346;
  font-size: 17px;
  border-radius: 50px;
}

.searchInput::placeholder {
  color: #5C5346;
}

.searchButton {
  width: 40px;
  height: 40px;
  background-color: #5C5346;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
}
