.message span  {
    color: #555;
    font-size: 13px;
    line-height: 45px; /* ROW HEIGHT */
}

.message {
    display: flex;
    line-height: 45px; /* ROW HEIGHT */
    justify-content: space-between;
    align-items: center;
    width: 93%;
}
.left {
    display: flex;
    flex-wrap: wrap;
}
.right {
    white-space: nowrap;
    color: gray;
    font-size: 0.85rem;
}


.hyperlink {
    text-decoration: none;
    margin: 0 5px;
}

.username {
    font-weight: bold;
}

.username:hover {
    color: #BAC095;
}

.book {
    font-style: italic;
}

.book:hover {
    color: black;
}

.content {
    font-weight: bold;
}

.content:hover {
    color: black;
}