.container {
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc; 
  margin-bottom: 10px; 
}

.header p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin: 5px;
  color: #5c5346;
  margin-left: 0px;
}

.moreBtn {
  background: none;
  border: none;
  color: #636B2F;
  cursor: pointer;
  font-weight: 600;
  margin-right: -4px;
  cursor: pointer;
}

.moreBtn:hover {
  color: #bac095;
}

.bookRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.bookCard {
  width: 135px;
  height: 320px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.thumbnail {
  width: 140px;
  height: 196px; /* 5:7 비율 */
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;
}

.thumbnail:hover {
  border: 2px solid #5c5346; 
  border-radius: 4px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 1px;
  width: 100%;
  max-width: 100%; 

  /* 제목 줄임 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
.authors {
  font-size: 0.75rem;
  color: black;
}
*/

.bookStats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4px;
  margin-top: 6px;
  font-size: 0.7rem;
  color: #555;
}

.bookStats p {
  margin: 0;
  padding: 0;
}

.icon1 {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-top: -1px;
}

.icon2 {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.icon3 {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-top: -2px;
}
