.groupBooks {
    padding: 5px;
    width: 650px;
    margin: 5 auto;
    margin-top: 30px;
    font-family: Arial, sans-serif;
}

.groupBooks h2 {
    font-size: 15px;
    margin-bottom: 0px;
    color: #333;
    width: 90%;
}

.msg {
    font-size: 16px;
    font-style: italic;
    color: #888;
}

.groupHeader a:hover {
    color: #333;
}

.groupHeader a {
    font-size: 14px;
    color: #888; /* MORE BUTTON COLOR */
    text-decoration: none; 
    height: 15px; 
}

.groupHeader {
    display: flex;
}

.solid {
    border: 2px solid #636B2F;
    margin-top: 10px;
}

.bookList {
    display: flex;
    list-style-type: none;
}


.bookCard {
    margin: 5px;
}



.bookThumbnail {
    width: 140px;
    height: 220px;
    object-fit: cover;
    border: 1px solid #F3F3F3;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 8px;
}

.bookThumbnail:hover {
    border: 3px solid #D4DE95;
}

.bookInfo {
    text-align: left;
}

.bookInfo p {
    margin: 6px 0;
    font-size: 14px;
    color: #444;
}


/* RATING */
.bookRating {
    margin-top: 0px;
}

.star {
    color: transparent;
    font-size: 14px;
    margin-right: 2px;
    color: #2e2d2b;
}


.icon {
    width: 16px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}