.book-list {
    padding: 1rem;
  }
  
  .book-item {
    display: flex;
    padding: 1rem 1rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
    gap: 1rem; 
  }

  .book-item:hover {
    background-color: #e1e1e1;
    transform: scale(1.05);  /* 5% 확대 */
  }


  .thumbnail {
    width: 100px;
    height: 150px;
    overflow: hidden;
    justify-content: center;
  }
  
  .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .book-info {
    flex-grow: 1;
  }
  
  .book-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    font-size: 0.875rem;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .authors {
    font-size: 0.875rem;
    color: #777;
    margin-bottom: 0.5rem;
  }
  
  .publisher {
    font-size: 0.875rem;
    color: #777;
  }
  