.review-section {
    width: 960px; 
    padding: 30px 20px;
  }

  .review-item{
    display:flex;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    align-items: flex-start;
    position: relative;
  }

  .review-item-last{
    display:flex;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
  }
  
  .index-box {
    color: #5c5346;
    background-color: #eee;
    border-radius: 4px;
    width: 28px;
    height: 28px;               
    font-size: 14px;
    font-weight: bold;
    display: flex;                
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;              
    text-align: center;                        
  }
  
  .index-box p {
    margin: 0;
  }

  .book-thumbnail {
    width: 120px;
    height: 180px;
    overflow: hidden;
    justify-content: center;
    object-fit: cover;
    display: block;
    padding: 0;
    cursor: pointer;
    flex-shrink: 0;  
    box-sizing: border-box;
    border: 1px solid transparent;
  }

  .book-thumbnail:hover {
    border: 2px solid #5c5346; 
    border-radius: 6px;
  }

  .book-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .review-content {
    flex-grow: 1;
    pointer-events: auto;
    position: relative;
    z-index: 5;
    margin: 1rem;
    max-width: 900px;
  }

  .book-title{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 10;
    position: relative;
    pointer-events: auto;
    display: flex;        
    gap: 0.5rem; 
  }

  .book-title:hover {
    color: #bac095;
  }

  .book-title-p {
    font-weight: bold;
    font-size: 20px;
  }

  .author{
    font-size : 15px;
    color: #888;
    align-self: flex-end;
  }
  
  .user-id {
    font-size: 15px;
    font-weight: 600;
    color: #666;
    margin-top: 25px;
    cursor: pointer;
    z-index: 10;
    position: relative;
    pointer-events: auto;
    display: flex;        
    align-items: center;  
    gap: 0.5rem;         
  }
  
  .user-id-p {
    font-weight: bold;
    color: #666;
    margin-top: 1px;
  }

  .user-id-p:hover {
    color: #bac095;
  }
  
  .separator {
    color: #666;   
    margin-top: -3px;       
  }
  
  .creation-date {
    color: #666;       
    font-size: 1rem;  
    font-weight: 500;   
  }

  .star{
    width: 25px;
  }
  
  .rating {
    margin-top: 1px;
    margin-left: -3px; 
    margin-bottom: 10px;
  }
  
  .content {
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .review-like {
    position: absolute;
    flex-grow: 0;
    margin-left: auto;
    justify-content: center;
    width: 70px;
    display: flex;
    flex-direction: column; /* 세로 배열 */
    align-items: center;
    gap: 1px;
    cursor: pointer;
    top: 20px;
    right: 5px;
  }
  
  .review-like img {
    width: 25px;
    height: 25px;
    cursor: default;
  }
  
  .review-like-count {
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    cursor: default;
  }
  
  