.optionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  .reviewstext {
    text-align: center;
    padding: 40px 0;
    font-size: 16px;
    color: #666;
  }
  
  .leftContainer {
    display: flex;
    gap: 20px;
  }
  
  .rightContainer {
    display: flex;
  }
  
  .option {
    cursor: pointer;
    padding: 8px 0;
    margin-left: -5px;
    font-size: 15px;
    color: #555;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
  }
  
  .optionActive {
    color: #636B2F;
    font-weight: bold;
    text-decoration: none;
  }
  
  .option:hover {
    color: #bac095;
  }
  
  .addReviewButton {
    cursor: pointer;
    padding: 8px 12px;
    background-color: #5c5346;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .addReviewButton:hover {
    background-color: #3D4127;
  }

  .review-section {
    padding: 1rem;
  }

  .review-item{
    position: relative;
    display:flex;
    padding: 30px 20px;
    border-bottom: 1px solid #ddd;
    justify-content: center;
  }

  .review-item-last{
    position: relative;
    display:flex;
    padding: 30px 20px;
    border-bottom: 1px solid #ddd;
    justify-content: center;
  }
  
  .index-box {
    margin-right: 1rem;
    flex-shrink: 0;
  }
  
  .user-profile {
    flex-grow: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
  }
  
  .user-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .review-content {
    max-width: 900px;
    flex-grow: 1;
    cursor: pointer;
  }
  
  .user-id {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .star{
    width: 25px;
    margin-right: 2px;
  }
  
  .rating {
    margin-bottom: 5px;
    margin-left: -2px;
  }
  
  .content {
    font-size: 17px;
    margin-bottom: 0.5rem;
    margin-left: 1px;
  }
  
  .review-like {
    position: absolute; 
    flex-grow: 0;
    top: 30px;
    right: 5px;
    justify-content: center;
    width: 70px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 4px;
    cursor: pointer;
  }
  
  .review-like img {
    width: 25px;
    height: 25px;
  }
  
  .readmore-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .readmore-button{
    display: flex;
    justify-content: flex-end;
  }

  .review-like-count {
    font-size: 14px;
    justify-content: center;
  }
  
  