.book-slider {
    width: 960px;  
    margin: 0 auto;   
    padding: 30px 20px;        
    background-color: #fff;
    color: #121212;
    box-sizing: border-box;
  }

  .bookslider-title{
    font-size: 22px;
    font-weight: bold;
    color: #5c5346;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px;
    margin-bottom: 15px; 
  }

  .bookslider-booktitle {
    display: block;
    width: 150px;
    height: 23px;            
    margin: 15px 0;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.4;
    white-space: nowrap;     
    overflow: hidden;
    text-overflow: ellipsis;  
  }

  .book-card {
    padding: 10px;
    text-align: center;
  }

  .book-image {
    width: 160px;
    height: 240px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .book-image:hover {
    transform: scale(1.05);
  }
  
  .book-stats {
    height: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px; /* 아이템 간격 */
  }
  
  .book-stats img {
    width: 25px;  /* 이미지 크기 */
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .book-stats p {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .book-slider a {
    text-decoration: none;   /* 밑줄 제거 */
    color: inherit;          /* 부모 요소 글씨 색상 따라가기 */
  }

  .slick-prev::before,
  .slick-next::before {
    display: none !important;
  }

  .book-stats img.review {
    width: 22px;
  }

  .book-stats img.like {
    width: 19px;
  }

  .book-stats img.bookshelf {
    width: 20px;
  }
