.findpassword-reset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  font-family: 'Arial', sans-serif;
}

.findpassword-reset-box {
  padding: 35px 30px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #5C5346;
  text-align: center;
}

.findpassword-reset-wrapper h2 {
  margin-bottom: 30px;
}

.findpassword-form-group, .findpassword-form-group-last {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}


.findpassword-form-group label, .findpassword-form-group-last label {
  text-align: right;    
  margin-right: 10px;
  white-space: nowrap;
  color: #F7E7CE;
}

.findpassword-form-group label {
  width: 80px;
}

.findpassword-form-group-last label {
  width: 140px;
}

.findpassword-form-group input, .findpassword-form-group-last input {
  flex: 1;
  padding: 6px;
  font-size: 14px;
}

.findpassword-timer-message {
  color: #F7E7CE;
}

.findpassword-timer-text {
  color: #F7E7CE;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.findpassword-button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 8px 0;
}

.findpassword-button-row span {
  cursor: pointer;
  padding: 3px 1px;
  font-size: 16px;
  border-radius: 5px;
}

.findpassword-btn-confirm, .findpassword-btn-cancel {
  width: 80%;
  padding: 8px;
  opacity: 80%;
  color: #555;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.findpassword-btn-confirm {
  background-color: #BAC095;
  color: #333;
  margin-right: 15px;
}

.findpassword-btn-cancel {
  background-color: #F3F3F3;
}

.findpassword-btn-confirm:hover, .findpassword-btn-cancel:hover {
  opacity: 100%;
}

.findpassword-link-row {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  color: #F7E7CE;
}

.findpassword-link-row a {
  color: #F7E7CE;
  text-decoration: underline;
  margin-left: 4px;
  cursor: pointer;
}

