.findid-find-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  font-family: 'Arial', sans-serif;
}

.findid-find-box, .findid-result-box {
  width: 380px;
  padding: 35px 30px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #5C5346;
  text-align: center;
}

.findid-find-wrapper h2 {
  margin-bottom: 30px;
}

.findid-form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.findid-form-group label {
  width: 80px;
  margin-right: 3px;
  white-space: nowrap; /* 줄바꿈 방지 */
  color: white;
  margin-top: 10px;
}

.findid-form-group input {
  width: 110px;
  flex: 1;
  padding: 6px;
  font-size: 14px;
  margin-right: 15px;
}

.findid-button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 20px auto;
  padding: 8px 0;
}

.findid-button-row span {
  cursor: pointer;
  padding: 0 1px;
  font-size: 16px;
}

.findid-btn-confirm, .findid-btn-cancel {
  width: 80%;
  padding: 8px;
  opacity: 100%;
  color: #3D4127;
  border-radius: 4px;
  border: 1px solid #3D4127;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.findid-btn-confirm {
  background-color: #f7e7ce;
  color: #333;
  margin-right: 15px;
}

.findid-btn-cancel {
  background-color: #F3F3F3;
}

.findid-btn-confirm:hover, .findid-btn-cancel:hover {
  opacity: 80%;
}


.findid-link-row {
  margin-top: 20px;
  font-size: 15px;
  color: #F7E7CE;
}

.findid-link-row a {
  margin-left: 5px;
  color: #F7E7CE;
  text-decoration: underline;
  cursor: pointer;
}

.findid-result-box p {
  color: #F7E7CE;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.5;
}

.findid-result-box button {
  border: none;
  padding: 6px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #3D4127;
}
