.signin-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.signin-wrapper h2 {
  margin-bottom: 25px;
}

.signin-box {
  background-color: #3D4127;
  padding: 35px 30px;
  border: 1px solid #ccc;
  width: 380px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.signin-form .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.signin-form label {
  width: 80px;
  text-align: right;
  margin-right: 10px;
  white-space: nowrap; 
  color: #F7E7CE;
}

.signin-form input {
  flex: 1;
  padding: 6px;
  font-size: 14px;
}

.signin-form button {
  width: 80%;
  padding: 10px;
  background-color: #BAC095;
  opacity: 80%;
  color: #555;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 25px;
  margin-bottom: 18px;
}

.signin-form button:hover {
  opacity: 100%;
}


.signin-links a,
.signin-footer a {
  color: #F7E7CE;
  text-decoration: none;
  font-weight: bold;
}

.signin-footer, .signin-links {
  color: #F7E7CE;
}

.signin-links a:hover,
.signin-footer a:hover {
  text-decoration: underline;
}

.home-link a {
  color: #555;
}

.home-link {
  margin-top: 20px;
}