.signup-wrapper {
    text-align: center;
    margin-top: 2rem;
  }

.signup-wrapper h2 {
  margin-bottom: 25px;
}

  .signup-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #3D4127;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: left;
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .signup-form-group {
    width: 100%;
    max-width: 300px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
  }

  .signup-form-group label {
    margin-bottom: 4px;
    color: #F7E7CE;
  }

  .signup-form-group input[type="text"],
  .signup-form-group input[type="email"],
  .signup-form-group input[type="password"] {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }

  .signup-form-group button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  .signup-input-group {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .signup-form-group button {
    padding: 4px 8px;
    background-color: #F7E7CE;
    color: #555;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
  }

  .signup-phone-inputs {
    display: flex;
    gap: 4px;
  }

  .signup-valid {
    color: #D4DE95;
    font-size: 12px;
    margin-top: 4px;
  }

  .signup-invalid {
    color: #F7E7CE;
    font-size: 12px;
    margin-top: 4px;
  }

  .signup-button-row {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 10px;
  }

  .signup-input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.signup-input-row input {
  flex: 1;
  margin-right: 6px;
}

.signup-input-row button {
  white-space: nowrap;
}

.signup-button-row button {
  padding: 6px 12px;
  font-weight: bold;
  border-radius: 5px;
}

.signup-form button[type="submit"] {
  width: 80%;
  background-color: #BAC095;
  opacity: 80%;
  color: #555;
  padding: 8px 16px;
  font-weight: bold;
  margin-top: 16px;
  cursor: pointer;
  border: none;
}

.signup-form button[type="submit"]:hover {
  opacity: 100%;
}

.signup-icon-check {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}

.form-footer {
  margin: 20px 0;
}

.form-footer a {
  color: #555;
}