.bookshelf {
    width: 960px;
}

.results {
    width: 960px;
}

/* BOOK STYLING - START */

.bookList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #3D4127;
    border-radius: 10px;
}


.bookCard {
    margin: 5px;
}



.bookThumbnail {
    width: 100px; /* 140px */
    height: 160px; /* 200px */
    object-fit: cover;
    border: 1px solid #F3F3F3;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 8px;
}

.bookThumbnail:hover {
    border: 4px solid #D4DE95;
}

.bookInfo {
    text-align: left;
}

.bookInfo p {
    margin: 6px 0;
    font-size: 14px;
    color: #444;
}


/* RATING */
.bookRating {
    margin-top: 0px;
}

.star {
    color: transparent;
    font-size: 14px;
    margin-right: 2px;
    color: #F5ECD5;
}

.icon {
    width: 16px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
/* BOOK STYLING - END */