.bookshelf {
    width: 960px;
}

.results {
    width: 960px;
}

.msg {
    font-size: 16px;
    font-style: italic;
    color: #888;
}

.tabs {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 13px;
    border-bottom: 1px solid #111;
    display: flex;
}

.tabs button {
    font-size: 17px;
    background: none;
    border: none;
    opacity: 50%;
    cursor: pointer;
    outline: none;
    transition: color 0.2s ease, background-color 0.2s ease;
    margin-right: 10px;
    padding: 2px 5px;
    padding-top: 6px;
}

.tabs button:hover {
    opacity: 100%;
}

.tabs button.active {
    opacity: 100%;
    border-bottom: 2px solid #636B2F;
    font-weight: 500;
}

button.active {
    border-bottom: 2px solid #636B2F; 
    opacity: 100%;
}

.buttonContainer {
    width: 90%;
}
.selectMenu {
    width: 10%;
}
/* BOOK STYLING - START */

.bookList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-bottom: 1px solid #111;
}


.bookCard {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    display: inline-block;
}

.bookThumbnail {
    width: 100px;
    height: 160px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: width 0.5s, height 0.3s;
    border-radius: 5px;
}

.bookThumbnail:hover {
    width: 105px;
    height: 170px;
}

.bookInfo {
    text-align: left;
    margin-bottom: 15px;
}

.bookInfo p {
    margin: 6px 0;
    font-size: 14px;
    color: #444;
}

.bookRating {
    margin-top: 0px;
}

.star {
    font-size: 14px;
    margin-right: 2px;
    color: #444; /* #F5ECD5 */
}

.icon {
    width: 16px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.progressRow {
    margin-top: 9px;
    display: flex;
    align-items: center;
}

.outerProgressBar {
    height: 3px;
    width: 100%;
    border-radius: 20px; 
    background-color: 	#E5E4E2;
    flex: 1;
}

.innerProgressBar {
    height: 3px;
    background-color: #444;
    border-radius: 20px; 
    opacity: 100%;
}

.progressInfo {
    color: #444;
    font-size: 12px;
    margin-right: 6px;
}

/* BOOK STYLING - END */


/* TOOLTIP CONTAINER */
.tooltip {
    position: relative;
    display: flex;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: white;
    text-align: center;
    padding: 5px 3px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: 10px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.overlayButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0);
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.tooltip:hover .overlayButton {
    opacity: 1;
}


/* sort dropdown */
.tabButton {
  font-size: 17px;
  background: none;
  border: none;
  opacity: 50%;
  cursor: pointer;
  outline: none;
  transition: color 0.2s ease, background-color 0.2s ease;
  margin-right: 10px;
}

.tabButton:hover {
  opacity: 100%;
}

.active {
  opacity: 100%;
  border-bottom: 2px solid #636B2F;
}

.filterTab {
  min-width: 170px;
  font-size: 14px;
  white-space: nowrap;
  text-align: left;
  position: relative;
  top: 8px; 
}

.filterGroup {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdownWrapper {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 110%;
  right: 0;
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px 12px;
  border-radius: 4px;
  min-width: 140px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.dropdownSection {
  margin-bottom: 15px;
}

.dropdownTitle {
  font-size: 12px;
  font-weight: 600;
  color: #555;
  margin-bottom: 4px;
}

.dropdownItem {
  padding: 4px 8px;
  cursor: pointer;
  color: #333;
  font-size: 13px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  white-space: nowrap;
}

.dropdownItem:hover {
  background-color: #cbc6bf;
}

.arrow {
  font-size: 20px;        
  margin-left: 1px;        
  vertical-align: middle;
  position: relative;
  top: -3px;             
}