
.memberList {
    padding: 0px;
    width: 650px;
    list-style-type: none;
    width: 500px;
}

.tabs {
    margin-top: 23px;
    margin-bottom: 15px;
}

.tabs button {
    border: none;
    background-color: transparent;
    opacity: 40%;
    margin-right: 15px;
}
.tabs button:hover {
    opacity: 100%;
}

button.active {
    border-bottom: solid 2px #636B2F; 
    opacity: 100%;
    font-weight: bold;
}

.profileSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3D4127; /*#F3F3F3;*/
    border-radius: 5px;
    width: 960px;
    height: 65px; /* ROW HEIGHT */
    margin-bottom: 5px;
}

.profileLeft {
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.nicknameRow {
    display: flex;
    align-items: center;
    gap: 13px; /* nickname and button spacing */
    margin-bottom: 3px;
}

.profileImage {
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.profileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileInfo {
    display: flex;
    flex-direction: column;
}

.nickname {
    color: #EDE1D2; /* #CBB89D*/
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.count {
    font-size: 13px;
    color: #EDE1D2;
    margin: 0px;
}

.profileStats {
    display: flex;
    gap: 5px;
}

.statBlock {
    text-align: center;
    width: 60px;
}

.statNumber {
    color: #EDE1D2;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.statLabel {
    font-size: 11px;
    color: #666;
}

.hyperlink {
    text-decoration: none;
    color: inherit;
}

.hyperlink:hover {
    color: #BAC095;
    opacity: 50%;
}

.icon {
    margin: 5px;
}