.addCommentContainer {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.addCommentTitle {
  margin-bottom: 12px;
  font-size: 16px;
  color: #333;
}

.textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  margin-bottom: 12px;
  font-size: 1rem;
  font-family: inherit;
}

.textarea:focus {
  outline: none;
  border-color: #3498db;
  background-color: #eef7fe;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.button {
  padding: 6px 12px;
  background-color: #444;
  opacity: 80%;
  margin: 10px 0;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 5px;
}

.button:hover {
  opacity: 100%;
}

.cancelButton {
  background-color: #D3D3D3;
  opacity: 80%;
}

.cancelButton:hover {
  opacity: 100%;
}

.charCount {
  font-size: 12px;
  color: #888;
  text-align: right;
  display: block;
}

