  .title{
    margin: 16px 0 35px;
    font-weight: bold;
    text-align: center;
  }

  .container {
    width: 960px;
    margin: 20px auto;
    padding: 20px 10px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 1px 8px 3px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 240px 1fr;  
    column-gap: 24px;                 
    align-items: start;   
  }

  .book-section {
    padding-top: 30px;
    padding-left: 15px;
    margin: 0px 25px;
    box-sizing: border-box;
  }

  .thumbnail {
    width: 200px;
    height: 300px;
    overflow: hidden;
    margin-right: 1rem;
    border-radius: 10px;
    
  }

  .add-buttons{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%
  }

  .info-section {
    flex-grow: 1;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 40px;
    margin-top:20px;
    box-sizing: border-box;
  }

  .book-title{
    font-size: 28px;
    font-weight: bold;
    margin-left: -2px;
    margin-bottom: 2px;
  }

  .subtitle {
    font-size: 20px;
  }
  
  .book-title-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .authors {
    font-size: 17px;
    color: #888;
    margin-top: 5px;
  }
  
  .publisher {
    font-size: 1rem;
    color: #777;
    margin-top: 20px;
  }

  .categories {
    font-size: 1rem;
    color: #777;
    margin-top: -15px;
  }
  
  .description {
    margin-top: 20px;
    white-space: pre-wrap; 
    text-align: justify;
  }

  .readmore-button{
    display: flex;
    justify-content: flex-end;  /* 오른쪽 끝으로 정렬 */
    margin-right: -10px;
  }
  
  .reviews-section {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    padding: 16px;
  }
  
  .buttons {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }
  
  .bookshelf-button, .like-button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .bookshelf-button {
    background-color: #3498db;
    color: #fff;
  }
  
  .bookshelf-button:hover {
    background-color: #2980b9;
  }
  
  .like-button {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .like-button:hover {
    background-color: #c0392b;
  }
  
  
  
  .reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .add-review {
    background-color: #2ecc71;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-review:hover {
    background-color: #27ae60;
  }
  
  .option-button {
    padding: 8px 16px;
    background-color: #ecf0f1;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .option-button:hover {
    background-color: #bdc3c7;
  }
  
 